:root{ 
    --primary-text-color:#212121;
--title-text-color:#FFFFFF;
--accent-color: #2196F3;
--primary-bg-color:#FFFFFF;
--secondary-bg-color: #2F303A;
--font-family-primary:'Roboto', sans-serif;
--font-family-secondary:'Raleway', serif;
}
.list{
    list-style:none;
}

body{
    color:var(--primary-text-color);
    font-family:var(--font-family-primary);

    
}
.logo{
    color:black;
font-family:var(--font-family-secondary);
    font-weight: 700;
    font-size: 26px;
    line-height:1.14;
letter-spacing: 0.03em;
text-decoration:none;}

.web {color:#2196F3;
font-family: var(--font-family-secondary);}
.logo:hover, .logo:focus{
    color:var(--accent-color);
text-decoration:underline;}

 .site-nav .link{
     color:var(--primary-text-color);
     font-weight:500; 
font-size: 14px;
line-height:1.14;
letter-spacing: 0.02em;
text-align: left;
text-decoration:none;}

.site-nav .link:hover, .site-nav .link:focus{
    color:var(--accent-color);}
.site-nav .current{color:var(--accent-color);}
.contacts .link{
    color: #757575;
font-weight: 400;
        font-size: 14px;
        line-height:1.71;
        letter-spacing: 0.03em;
        text-align: left;
        text-decoration: none;}

.contacts .link:hover , .contacts .link:focus{
    color:var(--accent-color);
}


.section-title {
    color:#212121;
  font-size: 36px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
        
}
.hero{background-color:var(--secondary-bg-color)}    
.hero-title{
    color:#FFFFFF;
  font-size: 44px;
    font-weight: 900;
    line-height:1.14;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.primary-button {
    color:#FFFFFF;
   font-weight: 500;
    background-color:#2196F3; 
    font-size: 16px;
    font-weight: 700;
    line-height: 1.86;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
}


.quality-list .title{
    color:var(--primary-text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        text-transform: uppercase;
}

.quality-list .text{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
}


.name-list .title{ color:var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;}
.name-list .text{
    color:#757575;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;

}
.footer{
    background-color: var(--secondary-bg-color);
    font-style: normal;
}
.studio-footer{
    color:#FFFFFF;
    font-family:var(--font-family-secondary);
}
.studio{
    color:#212121;
    font-family:var(--font-family-secondary);
}



 
.option-list .title {
    color:var(--primary-text-color);
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
}

.option-list .text{
    color:#757575;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: left;
}
    
        

.secondary-button {
    color: var(--primary-text-color);
    font-family:inherit;
    background-color:#F5F4FA;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        letter-spacing: 0.03em;
    cursor: pointer;}

 .secondary-button:hover , .secondary-button:focus{color: #FFFFFF;
    font-family:inherit;
    background-color: #2196F3;
    font-weight: 500;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.63;
    letter-spacing: 0.06em;
    text-align: center;

 }
 

 .footer-contacts .link{color: #FFFFFF99;
        font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height:1.71;
            letter-spacing: 0.03em;
            text-align: left;
            text-decoration: none;
}
.footer-contacts .link:hover, .contacts-foot .a:focus{color: #FFFFFF;
    font-style: normal;
    font-weight: 400;

}


 

 


