:root{ 
    --primary-text-color:#212121;
--title-text-color:#FFFFFF;
--accent-color: #2196F3;
--primary-bg-color:#FFFFFF;
--secondary-bg-color: #2F303A;
--font-family-primary:'Roboto', sans-serif
--font-family-secondary:'Raleway', sans-serif
}
.list{
    list-style:none;
}

.body{
    color:var(--primary-text-color)
    
}
.logo{color:black
font-family:'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1,2;
letter-spacing: 0.03em;
text-decoration:none}

.web {color:#2196F3;}
.logo:hover, .logo:focus{color:var(--accent-color);
text-decoration:underline;}

 .site-nav .link{color:var(--primary-text-color)
font-family:'Roboto', sans-serif;
font-weight:500;
font-size: 14px;
line-height:1,1;
letter-spacing: 0.02em;
text-align: left;
text-decoration:none}

.site-nav .link:hover, .site-nav .link:focus{color:var(--accent-color)}
.site-nav .current{color:var(--accent-color)}
.contacts a{color: #757575;
    font-family:'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height:1,1;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none}

.contacts a:hover , .contacts a:focus{
    color:var(--accent-color)
}
.contacts .current{
    color: var(--accent-color);
}
.section-title {
    color:#212121
    font-family:'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1,2 ;
        letter-spacing: 0.03em;
        text-align: center;
}
.hero{background-color:var(--secondary-bg-color)}    
.hero-title{
    color:#FFFFFF;
    font-family:'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height:1,4;
    letter-spacing: 0.06em;
    text-align: center;
}
.primary-button {
    color:#FFFFFF;
    background-color:#2196F3; 
    font-size: 16px;
    font-weight: 700;
    line-height: 1, 9;
    letter-spacing: 0.06em;
    text-align: center;
}


.quality-list .title{
    color:var(--primary-text-color)
        font-size: 14px;
        font-weight: 700;
        line-height: 1,1;
        letter-spacing: 0.03em;
        text-align: left;
}

.quality-list .text{
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1,7;
    letter-spacing: 0.03em;
    text-align: left;
}
.section-workers {
    background-color:#F5F4FA
}
.name-list .title{ color:var(--primary-text-color)
    font-size: 16px;
    font-weight: 500;
    line-height: 1,9;
    letter-spacing: 0.03em;
    text-align: center;}
.name-list .text{
    color:#757575;
        font-size: 16px;
        font-weight: 400;
        line-height: 1,9;
        letter-spacing: 0.03em;
        text-align: center;

}
.footer{
    background-color: var(--secondary-bg-color);
}
.studio-footer{
    color:#FFFFFF
}
.studio{
    color:#212121
}



 
.option-list .title {
    color:var(--primary-text-color)
    font-family:'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.06em;
        text-align: left;
}

.option-list .text{
    color:#757575
    font-family:'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1,9;
        letter-spacing: 0.03em;
        text-align: left;
}
    
        

.secondary-button {
    color: var(--primary-text-color);
    background-color:#F5F4FA;
    font-family: inherit;
        font-size: 16px;
        font-weight: 500;
        line-height: 1,6;
        letter-spacing: 0.03em;}

 .secondary-button:hover , .secondary-button:focus{color: #FFFFFF;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 1, 9;
    letter-spacing: 0.06em;
    text-align: center;

 }

 


